@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.games{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 70%;
  
}

.game{

  margin:2rem;
  background-color: rgb(221, 221, 221);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.data{
  
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.text{
  width: 70%;
  line-height: 2rem;
  text-align: justify;
}

img{
  width:20%;

}

.description{
  border-bottom: 2px solid gray;
}
h1 {
  font-weight: normal;
}


