*{
    box-sizing: border-box;
}

h1{
    color: red;
    font-size: 40px;
}

.form{
    margin: 2rem;
    .movie{
        display: flex;
        flex-direction: column;
        img{
            max-width: 200px;
            max-height: auto;
        }
    }
}

.favorite{
    margin-left: 2rem;
    input{
        background-color: pink;
        border-radius: 30px;

    }
}